footer {
    background-color: #F8F8F8;
    border-top: 1px solid #E7E7E7;
    text-align:center;
    padding:10px;

    position: fixed;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
}

.center_signin{
    width: 40%;
}

#save-button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.add-button{
    width: 10%;
}

.btn-primary{
    width: 100%;
    margin-top: 2%;
}

.btn-danger{
    width: 100%;
    margin-top: 2%;
}

h1{
    text-align: center;
    margin-top: 40px;
}

.new_and_edit_form{
    margin-left: 20%;
    margin-right: 20%;
}

.todo_table{
    margin-top: 3%;
}

#id_username{
    margin-bottom: 5px;
}