footer {
    background-color: #F8F8F8;
    border-top: 1px solid #E7E7E7;
    text-align:center;
    padding:10px;

    position: fixed;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
}

.col-md-4{
    text-align:center;
    padding:10px;
    border: 1px solid;
}

.center_signin{
    width: 30%;
}

.btn-primary{
    width: 100%;
    margin-top: 10px;
}

h1{
    text-align: center;
}

.new_and_edit_form{
    margin-left: 20%;
    margin-right: 20%;
}