#todo_nav{
    background-color: #F8F8F8;
    border-top: 1px solid #E7E7E7;
}

h1{
    text-align: center;
    margin-top: 40px;
}

#sign-in-container{
    margin-top: 10%;
    width: 40%;
}

#sign-up-container{
    margin-top: 1%;
    width: 50%;
}

#id_username{
    margin-bottom: 1%;
}

#sign-up-button,
#sign-in-button{
    width: 100%;
    margin-top: 2%;
}

#todo-table,
#completed-todo-table{
    margin-top: 3%;
}

#todo-table td, th,
#completed-todo-table td,th
{
    text-align:center;
    vertical-align:middle;
}

#edit-button,
#delete-button{
    width: 100%;
}

#add-button{
    width: 10%;
}


#new-and-edit-form{
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

#save-button,
#return-button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

footer {
    background-color: #F8F8F8;
    border-top: 1px solid #E7E7E7;
    text-align:center;
    padding:10px;

    position: fixed;
    left: 0;
    bottom: 0;
    height: 5%;
    width: 100%;
}