{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Vladislav shipovskoi">
        <title>ToDo List</title>
        <link rel="icon" href="{% static 'todolist.ico' %}" type="text/css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/todolist.css' %}">
    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Todo list</a>
                </div>
                {% if request.user.is_authenticated %}

                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'todo_completed' %}"> completed</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                {% endif %}
                </ul>
            </div>
        </nav>

        <main role="main">

            <div class="container">
                <div class="row">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>

        </main>

        <footer>
            <a href="https://github.com/VladislavShipovskoi">&copy; Vladislav Shipovskoi 2018</a>
        </footer>
    </body>

</html>