{% extends 'todolist/base.html' %}

{% block content %}
    <table id="todo-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>text</th>
            <th>created</th>
            <th>priority</th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% if not object_list %}
            <td colspan="5"> Nothing </td>
        {% endif %}

        {% for todo in object_list %}
            <tr>
                <td class="hidden-phone">  {{ todo.text|linebreaksbr }}  </td>
                <td>  {{ todo.created_date }}  </td>
                {% ifequal todo.get_priority_display 'Low' %}
                    <td><span class="badge badge-default">Low</span></td>
                {% endifequal %}
                {% ifequal todo.get_priority_display 'Normal' %}
                    <td><span class="badge badge-success">Normal</span></td>
                {% endifequal %}
                {% ifequal todo.get_priority_display 'High' %}
                    <td><span class="badge badge-danger">High</span></td>
                {% endifequal %}
                <td>
                    <form action="{% url 'todo_edit' pk=todo.pk %}" method="get">{% csrf_token %}
                        <input type="submit" id="edit-button" class="btn btn-primary edit_button" value="Edit" />
                    </form>
                </td>
                <td>
                    <form action="{% url 'todo_delete' pk=todo.pk %}" method="post">{% csrf_token %}
                        <input type="submit" id="delete-button" class="btn btn-danger delete_button" value="Delete" />
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <td><a id="add-button" class="btn btn-success" href="{% url 'todo_new' %}">Add</a></td>
{% endblock %}