{% extends 'todolist/base.html' %}

    {% block content %}

        {% if  todos %}

            <table class="table table-striped table-hover table-users">

                <thead>
                    <tr>
                        <th>text</th>
                        <th>created</th>
                        <th>completed</th>
                        <th>priority</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    {% for todo in todos %}
                    <tr>
                        <td class="hidden-phone">  {{ todo.text|linebreaksbr }}  </td>
                        <td>  {{ todo.created_date }}  </td>
                        <td>  {{ todo.completed_date }}  </td>
                        {% ifequal todo.get_priority_display 'Low' %}
                            <td><span class="label label-default">Low</span></td>
                        {% endifequal %}
                        {% ifequal todo.get_priority_display 'Normal' %}
                            <td><span class="label label-success">Normal</span></td>
                        {% endifequal %}
                        {% ifequal todo.get_priority_display 'High' %}
                            <td><span class="label label-danger">High</span></td>
                        {% endifequal %}
                        <td><a class="btn mini blue-stripe" href="{% url 'todo_edit' pk=todo.pk %}">Edit</a></td>
                    </tr>
                    {% endfor %}

                </tbody>

            </table>

        {% else %}
            <h1> There is nothing </h1>
        {% endif %}

    {% endblock %}